Django==3.1.13
gunicorn==20.1.0
psycopg2-binary==2.8.5
psycopg2==2.8.3
djangorestframework==3.12.4
markdown==3.1.1
django-filter==2.4.0
django-grappelli==2.14.3
django-countries==5.5
Pillow==9.3.0
django-imagekit==4.0.2
django-rest-swagger==2.2.0
django-countries==5.5
django-extensions==3.1.1
Werkzeug==0.16.0
django-admin-autocomplete-filter==0.4
django-import-export==2.5.0
lxml>=4.6.3
docxtpl==0.11.1
python-docx==0.8.10
babel==2.9.1
django-solo==1.1.3